[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
xepmts = "*"
click = "*"
flask-swagger-ui = "*"
redis = "*"
google-cloud-secret-manager = "*"
prometheus-flask-exporter = "*"
Eve = "*"
Flask = "*"
Flask-RESTful = "*"
PyYAML = "*"
pyOpenSSL = "*"
Eve-Swagger = "*"
Flask-Sentinel = "*"

[requires]
python_version = "3.7"
